*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --color: #333333;
    --color2: #fff;
    --color3: #817575;
    --fundo: #F6121D;
    --border: #E6E6E6;
    --border2: #F3F3F3;
}

/*===============================
  Header
===============================*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    border-bottom: 1px solid var(--border);
    margin-bottom: 120px;
}

.links-cta a{
    color: var(--color);
    font-size: 19px;
    font-weight: bold;
}

.links-cta a:hover{
    border-bottom: 1px solid var(--color);
}

/*==================================
  Página Principal
==================================*/

.box-cadastro{
    max-width: 450px;
    margin: auto;
}

.box-cadastro figure img{
    margin-left: 170px;
}

.box-cadastro .passo{
    margin-left: 180px;
    text-transform: uppercase;
    font-size: 13px;
}

.text-titulo{
    color: var(--color);
    text-align: center;
    margin-bottom: 25px;
}

.text-escolhas{
    max-width: 300px;
    margin-left: 65px;
}

.text-certo{
    display: flex;
}

.text-certo i{
    color: var(--fundo);
    font-size: 30px;
    margin-right: 15px;
}

.text-escolhas p{
    color: var(--color);
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.submit{
    width: 345px;
    height: 60px;
    outline: 0;
    border: 0;
    border-radius: 3px;
    background-color: var(--fundo);
    margin-top: 40px;
    margin-left: 60px;
}

.submit a{
    color: var(--color2);
    font-size: 24px;
}



/*====================
  Footer
====================*/

.footer{
    width: 100%;
    height: 250px;
    padding-top: 5px;
    z-index: 100;
    margin-top: 170px;
    border-top: 1px solid var(--border);
    background-color: var(--border2);
}

.footer p{
    color: var(--color3);
    font-size: 16px;
    margin: 40px 0 40px 65px;
}

.list-footer ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-left: 65px;
}

.list-footer li{
    color: var(--color3);
    list-style: none;
    font-size: 13px;
}