*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url("../asserts/img/bg.jpg");
    background-image: cover;
    background-repeat: no-repeat;
}

body::before {
    content: '';
    background-color: rgb(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*======================
  Main
======================*/

.logo img {
    height: 45px;
    width: 167px;
}

.header {
    padding: 20px 50px;
    position: relative;
    z-index: 10;
}

.main {
    padding: 60px;
    z-index: 90;
    position: relative;
    max-width: 450px;
    height: 650px;
    margin-left: 50%;
    background-color: rgb(0, 0, 0, 0.75);
    border-radius: 10px;
    box-sizing: border-box;
    transform: translateX(-50%);
    margin-bottom: 80px;
}

.main h2 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 35px;
}

.main input {
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
}

.main input:hover {
    background-color: #444;
}

.input-box {
    margin-bottom: 25px;
}

.main button {
    height: 50px;
    width: 100%;
    background-color: #e50914;
    border-radius: 3px;
    border: none;
    margin-bottom: 10px;
}

.main button a{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.main button:hover {
    background-color: #fc1722;
    cursor: pointer;
}

.support {
    display: flex;
    color: #b3b3b3;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 50px;
}

.support input {
    width: 15px;
    height: 15px;
}

.remember-password {
    display: flex;
    align-items: center;
}

.remember-password span {
    margin-right: 5px;
    height: 25px;
}

.help a {
    text-decoration: none;
    color: #737373;
}

.help a:hover {
    text-decoration: underline;
}

.login-face {
    display: flex;
    align-items: center;
    width: 100%;
    color: #737373;
}

.login-face span {
    margin-right: 5px;
    font-size: 13px;
}

.login-face img{
    width: 20px;
}

.login-face span a {
    text-decoration: none;
    color: #737373;
}

.sign-up {
    color: #737373;
    font-size: 16px;
    margin: 15px 0;
}

.sign-up a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    margin-left: 5px;
}

.sign-up a:hover {
    text-decoration: underline;
}

.terms {
    color: #737373;
    font-size: 13px;
}

.terms a {
    text-decoration: none;
    color: #0071eb;
}

.terms a:hover {
    text-decoration: underline;
}

/*====================
  Footer
====================*/

.footer{
    width: 100%;
    height: 250px;
    background-color: rgb(0, 0, 0, 0.75);
    padding-top: 5px;
    z-index: 100;
}

.footer p{
    color: #fff;
    font-size: 16px;
    margin-left: 175px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.list-footer ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 0 auto;
    max-width: 1000px;
}

.list-footer li{
    color: #fff;
    list-style: none;
    font-size: 13px;
}