*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-image: url(../asserts/img/saida.jpg);
    background-size: cover;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

:root{
    --color: #333333;
    --color2: #fff;
    --color3: #2490FD;
    --color4: #817575;
    --fundo: #F40612;
}

/*===============================
  Header
===============================*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    margin-bottom: 120px;
}

.header img{
    width: 130px;
}

.links-cta a{
    color: var(--color2);
    font-size: 18px;
    background-color: var(--fundo);
    padding: 8px 15px;
    border-radius: 3px;
}

.links-cta a:hover{
    border-bottom: 1px solid var(--color);
}

/*===========================
  Página Principal
===========================*/

.box-main{
    width: 450px;
    background-color: var(--color2);
    color: var(--color);
    max-width: 400px;
    padding: 30px;
}

.box-text h1{
    margin-bottom: 20px;
}

.box-paragrafo p{
    margin-bottom: 20px;
}

.box-cta button{
    outline: 0;
    border: 0;
    color: var(--color2);
    width: 345px;
    height: 45px;
    background-color: var(--color3);
    border-radius: 3px;
    font-size: 20px;
}

/*====================
  Footer
====================*/

.footer{
    width: 100%;
    height: 250px;
    padding-top: 5px;
    z-index: 100;
    border-top: 1px solid var(--border);
    background-color: var(--border2);
}

.footer p{
    color: var(--color4);
    font-size: 16px;
    margin: 40px 0 40px 65px;
}

.list-footer ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-left: 65px;
}

.list-footer li{
    color: var(--color4);
    list-style: none;
    font-size: 13px;
}